body {
  padding: 0;
  margin: 0;
}
.profile {
  background-color: #f4f7f6;
  /* height: 100vh; */
  /* justify-content: center;
  align-items: center; */
}
.pusername {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.username {
  padding: 9%;
  font-size: x-large;
  font-weight: bold;
  color: #3a3b3c;
  font-family: "Raleway", sans-serif;
}

.split-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 30px;
}

.pleft {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.pcard {
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(148, 148, 148, 0.2);
  padding: 50px;
  background-color: white;
  font-family: "Raleway", sans-serif;
}
.titletext {
  font-size: x-large;
  color: #3a3b3c;
  font-family: "Raleway", sans-serif;
}
.smalltext {
  color: rgba(38, 38, 38, 0.5);
  text-align: left;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}
.changeusername {
  font-size: x-large;
  border: 0;
  outline: 0;
  color: #3a3b3c;
  background-color: #f4f7f6;
  /* /* padding-left: 110px; */
  /* padding-top: 100px;
  padding-bottom: 100px; */
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3a3b3c;
  opacity: 1; /* Firefox */
}
.saveButton {
  font-size: small;
  color: #00678a;
  background-color: #ddf3ff;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.saveButton:hover {
  color: #ddf3ff;
  background-color: #00678a;
}
@media screen and (min-width: 1024px) {
  .split-screen {
    flex-direction: row;
  }
}
