<body>
  <link
    href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/styles/profile" />
  <div class="profile">
    <!-- <h3 class="username">{{username}}</h3> -->
    <form 
    action="/changename"
        method="post"
        enctype="multipart/form-data"
      >
    <input
      class="changeusername"
      id="form-username"
      type="text"
      name="username"
      placeholder="{{username}}"
    />
    <input class="saveButton" type="{{type}}" value="Save"/>
    </form>
    <div class="split-screen">
      <div class="pleft">
        <div class="pcard">
          <h3 class="titletext">The workplace I created</h3>
          <p class="smalltext">{{listNameCreate}}</p>
        </div>
      </div>
      <div class="pright">
        <div class="pcard">
          <h3 class="titletext">The workplace I joined</h3>
          <p class="smalltext">{{ListNameJoin}}</p>
        </div>
      </div>
    </div>
  </div>
</body>
