body {
  padding: 0;
  margin: 0;
}
.profile {
  background-color: #f4f7f6;
  height: 100vh;
}
.username {
  padding: 9%;
  font-size: x-large;
  font-weight: bold;
  color: #3a3b3c;
  font-family: "Raleway", sans-serif;
}

.split-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 30px;
}

.pleft,
.pright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pcard {
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(148, 148, 148, 0.2);
  padding: 50px;
  background-color: white;
  font-family: "Raleway", sans-serif;
}
.titletext {
  font-size: x-large;
  color: #3a3b3c;
  font-family: "Raleway", sans-serif;
}
.smalltext {
  color: rgba(38, 38, 38, 0.5);
  text-align: left;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

@media screen and (min-width: 1024px) {
  .split-screen {
    flex-direction: row;
  }
}
