<body>
	<link rel="stylesheet" href="/styles/getstarted" />
	
	<!-- Modal -->
	<!-- src=https://www.w3schools.com/howto/howto_css_modals.asp -->

	<div id="joinModal" class="modal">
		<link rel="stylesheet" href="/styles/modal" />
		<div id="joinModalContent" class="modal-content">
		  <span id="joinModalClose", class="close">&times;</span>
		  <h1>Workplaces</h1>
		  <div id="workplaceslist">
			
		  </div>
		</div>
		<script>
			const workplaces = {{workplaces}};
			const owners = {{owners}};
			const codes = {{codes}};
			
			let text2 = "";
			for (let i = 0; i < workplaces.length; i++) {
				text2 += "<div class=\"workplaceList\"><span>Workplace: "+workplaces[i]+"</span><br><span>Owner: "+owners[i]+"</span><br><span class=\"joinClick\" onclick=\"enterWorkplace('"+codes[i]+"')\" style=\"cursor: pointer;\">JOIN</span><br></div>"
			}
			document.getElementById("workplaceslist").innerHTML = text2;
		</script>
	</div>

	<div id="createModal" class="modal">
		<link rel="stylesheet" href="/styles/modal" />
		<div id="createModalContent" class="modal-content">
		  <span id="createModalClose", class="close">&times;</span>
		  <form 
		  	action="/getstarted/create/submit"
          	id="createModalForm"
          	method="post"
          	enctype="multipart/form-data"
          >
		  <div class="input-container createRoomName">
            <label for="createRoomNameForm">Workplace Name:</label>
            <input
              id="createRoomNameForm"
              type="text"
              name="Workplace Name"
              placeholder="My Workplace"
            />
          </div>
		  <input class="submissionButton" type="submit" value="Create" />
		  </form>
		</div>
	</div>

	<div class="split-screen">
		<div class="jleft">
			<img id="joinButton" src="/join.png"></img>
		  	<!-- <h2 id="joinButton">Join</h2> -->
		</div>
		<div class="jright">
			<img id="createButton" src="/create.png"></img>
			<!-- <h2 id="createButton">Create</h2> -->
		</div>
	</div>

	<script src="/scripts/getstarted"></script>
</body>