<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" />

    <title>Register</title>
  </head>
  <body>
    <h1>Page View Counter</h1>
    <p>{{count}}</p>
    <h2>All users</h2>
    <p>{{users}}</p>
    <h3>Create Account</h3>

  </body>

<form action="/" id="users-form" method="post" enctype="multipart/form-data">
  Email:<br>
  <label for="form-Email"></label>
  <input id="form-Email" type="email" name="Email">
  <br>
  Password:<br>
  <label for="form-password"></label>
  <input id="form-password" type="password" name="psw">
  <input type="submit" value="Register">
</form>

<a href = "/login">Sign in here</a><br>


</html>
