<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" />
  </head> -->
  <body onload="userColor()">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/chat.css"/>
    

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap"
      rel="stylesheet"
    /> -->

    <!-- CHAT BAR BLOCK -->
    <div class="wcard">
      <h4> Online </h4>
      <p id="workplaceUsers">
        <script>
          var socket = io();
            const workplaceusers = {{workplaceusers}};

            var workspaceCode = workplaceusers[workplaceusers.length - 1]
            console.log("workspaceCode " + workspaceCode)

            socket.send(
              JSON.stringify({
                allUsers: workplaceusers,
                workplaceCode: workspaceCode
              })
            );

            // For the user who joins the room
            let text2 = "";
            for (let i = 0; i < workplaceusers.length - 1; i++) {
              text2 += "<span onclick=\"enterProfile('"+workplaceusers[i]+"')\" style=\"cursor: pointer;\">"+workplaceusers[i]+"</span><br>"
            }
            document.getElementById("workplaceUsers").innerHTML = text2;

        </script>
      </p>
    </div>
    <div class="chat-bar-collapsible">
      <!-- <button id="chat-button" type="button" class="collapsible">
        Chat with us! -->
      <!-- <i
          id="chat-icon"
          style="color: #fff"
          class="fa fa-fw fa-comments-o"
        ></i> -->
      <!-- </button> -->
      <input type="button" class="collapsible" id="chat-button"> </input>
      <div class="content">
        <div class="full-chat-block">
          <!-- Message Container -->
          <div class="outer-container">
            <div class="chat-container">
              <!-- Messages -->
              <div id="chatbox">
                <h5 id="chat-timestamp"></h5>
                <p id="botStarterMessage" class="botText">
                  <!--<span><b>{{username}}</b>{{message}}</span>-->
                  <script>
                    const users = {{users}};
                    const messages = {{messages}};
                    
                    let text = "";
                    for (let i = 0; i < users.length; i++) {
                      text += "<span><b>"+users[i]+"</b>: "+messages[i]+"</span><br>"
                    }
                    console.log(text)
                    document.getElementById("botStarterMessage").innerHTML = text;
                  </script>
                </p>
              </div>

              <!-- User input box -->
              <div class="chat-bar-input-block">
                <div id="userInput">
                  <input
                    id="textInput"
                    class="input-box"
                    type="text"
                    name="msg"
                    placeholder="Enter a message"
                  />
                  <p></p>
                </div>

                <div class="chat-bar-icons">
                  <!-- <i
                    id="chat-icon"
                    style="color: crimson"
                    class="fa fa-fw fa-heart"
                    onclick="heartButton()"
                  ></i> -->
                  <i
                    id="chat-icon"
                    style="color: #333"
                    class="fa fa-fw fa-send"
                    onclick="sendMessage()"
                  ></i>
                </div>
              </div>

              <div id="chat-bar-bottom">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- http://localhost:8081/workplace/3JGNYRNY15Z1X2J9H9QW -->
    <div class="brainstorm">
      <h1>Workplace: {{name}}</h1>
      <p>Join Code: {{code}}</p>
    <div id="myDIV" style="margin: 5px" class="header">
      <h2  hidden>Problem {{problemNumber}}</h2>
    <div>
      {{sendQuestionInput}}
      {{sendQuestion}}
      {{questionExpiryInput}}
      {{timer}}
      </div>
      <!-- <div>
      <label for="timerAmountInput" id="timerAmountLeadingLabel">Amount of Time:</label>
      <input type="text" id="timerAmountInput" placeholder="Enter time in seconds">
      <span id="timerAmountTrailingLabel">seconds</span>
    </div> -->
    <div>
      <input type="text" id="myInput" placeholder="Type your idea here..." />
      <span onclick="newElement();" class="addBtn">Add</span>
    </div>
    </div>
    <ul id="myUL">
      <!-- <li id="myLi"></li> -->
      <!-- <li>Hit the gym</li> -->
      <!-- <li class="checked">ideas</li> -->
    </ul>
  </div>
    <script src="/scripts/chat"></script>
  </body>
<!-- </html> -->
